
.navbar{

width:90%;
max-width:1000px;
margin:auto;

display:flex;
justify-content:space-between;
align-items:center;

padding:5px 0;
min-height:70px;

}

.logo img{

width:65px;
height:auto;

}

.nav-links{

display:flex;
gap:25px;

}

.nav-links a{

color:#222;
font-weight:500;
transition:.3s;

}

.nav-links a:hover{

color:var(--purple);

}

.btn-nav{

background:var(--purple);
color:white;

padding:12px 22px;

border-radius:30px;

transition:.3s;

}

.btn-nav:hover{

background:var(--gold);

}

.hamburger{

display:none;

flex-direction:column;

gap:6px;

cursor:pointer;

}

.hamburger span{

width:28px;
height:3px;
background:#222;

}
@media(max-width:900px){

.nav-links{

display:none;

}

.btn-nav{

display:none;

}

.hamburger{

display:flex;

}

}

