
/*=========================
PROGRAMS
==========================*/

.services{

background:#f9f7fd;

padding:100px 0;

}

.services-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

margin-top:60px;

}

.service-card{

background:#fff;

border-radius:20px;

overflow:hidden;

box-shadow:0 12px 25px rgba(0,0,0,.08);

transition:.4s;

}

.service-card:hover{

transform:translateY(-12px);

box-shadow:0 20px 45px rgba(0,0,0,.15);

}

.service-card img{

height:220px;

width:100%;

object-fit:cover;

}

.service-content{

padding:25px;

}

.service-content h3{

color:#7b2cbf;

margin-bottom:15px;

font-size:1.4rem;

}

.service-content p{

color:#666;

line-height:1.7;

}